body(data-spy='scroll', data-target='.subnav', data-offset='50')
  // ナビゲーションバー
  div.navbar.navbar-fixed-top
    div.navbar-inner
      div.container
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-var
          span.icon-var
          span.icon-var
        a.brand	WebGrid
        div.nav-collapse
          ul.nav
            li
              a News
            li
              a Gallery
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown') Preview
                b.caret
              ul.dropdown-menu
                li
                  a Default
                li.divider
                li
                  a Amelia

  // ここからメインコンテンツ
  div.container
    div.row
      div.span12.well
        div.row
          div.span4
            img.avatar.size64(src='/images/icon.jpg')
            p
              h1 Prime Test 
              余っている計算資源を少しいただいて素数を求めます
            p
              a.btn(onclick="requestTask()") Start Task
              a.btn(onclick="stopTask()") Stop Task
            div#taskProgress  task progress: 0% 
            div#connectionCount  connection count: 1
            div#point your point: 0pt
          div.span8#progress

    div.row
      div.span12.well#terminal

