!!!
html
  head
    title= title
    link(rel='stylesheet', href='http://bootswatch.com/cyborg/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://cloud.github.com/downloads/SteveSanderson/knockout/knockout-2.0.0.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/commons.js')
    script(src='http://mbostock.github.com/d3/d3.js?2.7.2')
  body!= body
